.transfer_template {
    display: none;
}

.alert-message{
	color: red;
}

.postit {
	background:#fefabc;
	padding:15px;  
	padding-top:5px;
	padding-bottom:30px; 
	font-family: 'Gloria Hallelujah', cursive; 
	font-size:15px; 
	color: #000; 
	width:200px; 

	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);

	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;

	margin-top: 30px;
	margin-bottom: 30px;
}

.star { 
	background: url(/images/star.png) no-repeat; 
}

input{
	margin-bottom: 20px;	
}