<div ng-controller="PostitCtrl">
      
      <label for="starsOnly">Stars only:</label><input type="checkbox" name="starsOnly" ng-model="starsOnly"/>
      <hr/>

      <h2>Add post-it</h2>
      <input name="text" ng-model="createForm.text"/>
      <button class="btn btn-primary" ng-click="create()">Add</button>
      <hr/><br/>

      <div>Search: <input ng-model="searchText"></div>
      <br/>

      <div class="twipsies well" ng-repeat="postit in postits | filter:searchText | filter:starsOnlyFilter()">
         <postit/>
      </div>
</div>