@(message: String)

@main("Welcome to Play 2.1") {

    <div ng-controller="PostitCtrl">
      <label for="name">name:</label><input ng-model="createForm.text"/>
      <button ng-click="create()">Create new postit</button>
      <hr/>
      <table>
      <thead><th>name</th><th>age</th><td>actions</td></thead>
      <tbody ng-repeat="postit in postits">
        <tr>
          <td><input ng-model="postit.text"/></td>
          <td><input type="boolean" ng-model="postit.star"/></td>
          <td><button ng-click="update(postit)">Update</button><button ng-click="remove(postit)">Delete</button></td>
        </tr>
      </tbody>
      </div>
    </div>

}
